In [1]:
import pandas as pd

In [3]:
cols= ['account_id       ','oper_date       ', 'CP       ', 'resulted_rate       ', 'resulted_amount       ', \
       'resulted_weight       ','rate       ', 'amount       ', 'weight       ']

In [4]:
df= pd.read_csv('Tsup_4393490_trade_history-20220727.csv', skipinitialspace= True, usecols= cols)

In [11]:
account= df['account_id       '].unique().tolist()

In [28]:
account_needed= account[0:20]

In [29]:
df_filtered = df[df['account_id       '].isin(account_needed)]

In [ ]:
df_filtered.to_csv('data.csv', index= False)

In [32]:
df_trader= df.loc[(df['account_id       ']== 598192) | (df['account_id       ']== 848277)]

In [33]:
df_trader

,account_id,creation_date,CP,oper_date,resulted_rate,resulted_amount,resulted_weight,rate,amount,weight
0,598192,09-JUN-10 05.06.20.148 PM,EUR/USD,14-JUN-10 01.59.13.771 PM,1.22290,-5000.0,-6115.00,1.22290,-5000.0,-6115.00
1,598192,09-JUN-10 05.06.20.148 PM,GBP/USD,14-JUN-10 02.51.33.937 PM,1.47600,5000.0,7379.00,1.47600,5000.0,7379.00
2,598192,09-JUN-10 05.06.20.148 PM,USD/CAD,14-JUN-10 02.52.54.072 PM,1.03090,-5000.0,-5000.00,1.03090,-5000.0,-5000.00
3,598192,09-JUN-10 05.06.20.148 PM,GBP/USD,15-JUN-10 04.36.29.539 AM,1.47350,10000.0,14733.00,1.47100,5000.0,7354.00
4,598192,09-JUN-10 05.06.20.148 PM,EUR/USD,15-JUN-10 05.00.05.415 AM,1.22290,0.0,0.00,1.21960,5000.0,6096.50
...,...,...,...,...,...,...,...,...,...,...
45591,848277,01-FEB-12 03.34.33.942 AM,XAU/USD,06-JUL-22 08.50.03.437 AM,1766.98000,1.0,1766.74,1766.98000,1.0,1766.74
45592,848277,01-FEB-12 03.34.33.942 AM,GBP/USD,07-JUL-22 02.49.15.105 AM,1.19577,1000.0,1195.58,1.19577,1000.0,1195.58
45593,848277,01-FEB-12 03.34.33.942 AM,XAU/USD,08-JUL-22 03.15.41.385 AM,1743.08000,1.0,1742.88,1743.08000,1.0,1742.88
45594,848277,01-FEB-12 03.34.33.942 AM,USD/JPY,15-JUL-22 02.50.11.033 AM,138.78700,0.0,0.00,138.81600,1000.0,1000.00
45595,848277,01-FEB-12 03.34.33.942 AM,XAU/USD,19-JUL-22 04.02.33.804 AM,1711.67000,1.0,1711.44,1711.67000,1.0,1711.44

In [34]:
df_trader.to_csv('trader.csv', index= False)