In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('column.csv')

In [3]:
df

,TICKET,LOGIN,SYMBOL,DIGITS,CMD,VOLUME,OPEN_TIME,OPEN_PRICE,SL,TP,...,PROFIT,TAXES,COMMENT,INTERNAL_ID,MARGIN_RATE,TIMESTAMP,MAGIC,GW_VOLUME,GW_OPEN_PRICE,MODIFY_TIME
0,NaN,0,6,1,2006-06-02 21:00:21,0.0000,0.0000,0.0000,2006-06-02 21:00:21,1970-01-01 00:00:00,...,0.0,PayPal Dep - AL,0,0.0000,1149282021,0,0,0,0,2022-11-28 17:58:58
1,GBPUSD,4,1,10,2006-06-05 15:39:04,1.8805,1.8804,0.0000,2006-06-05 15:43:32,1970-01-01 00:00:00,...,0.0,NaN,100,1.8805,1149521944,0,10,0,0,2022-11-28 17:58:58
2,GBPUSD,4,1,20,2006-06-05 15:53:46,1.8799,0.0000,1.8759,2006-06-05 16:00:05,1970-01-01 00:00:00,...,0.0,NaN,100,1.8799,1149522826,0,20,0,0,2022-11-28 17:58:58
3,EURUSD,4,0,10,2006-06-05 16:13:20,1.2929,0.0000,0.0000,2006-06-05 16:16:23,1970-01-01 00:00:00,...,0.0,NaN,100,1.2929,1149524000,0,10,0,0,2022-11-28 17:58:58
4,GBPUSD,4,1,20,2006-06-05 17:00:27,1.8779,1.8889,1.8759,2006-06-05 17:39:16,1970-01-01 00:00:00,...,0.0,NaN,100,1.8779,1149526827,0,20,0,0,2022-11-28 17:58:58
5,GBPUSD,4,1,20,2006-06-05 20:06:15,1.8791,1.8895,0.0000,2006-06-05 21:34:39,1970-01-01 00:00:00,...,0.0,NaN,100,1.8791,1149537975,0,20,0,0,2022-11-28 17:58:58
6,GBPUSD,4,1,20,2006-06-06 09:58:05,1.8760,0.0000,0.0000,2006-06-06 10:34:16,1970-01-01 00:00:00,...,0.0,NaN,100,1.8760,1149587885,0,20,0,0,2022-11-28 17:58:58
7,GBPUSD,4,0,20,2006-06-06 12:36:32,1.8718,0.0000,1.8709,2006-06-08 10:16:50,1970-01-01 00:00:00,...,0.0,NaN,100,1.8718,1149597392,0,20,0,0,2022-11-28 17:58:58
8,GBPUSD,4,0,20,2006-06-06 13:17:49,1.8704,0.0000,1.8709,2006-06-08 10:16:51,1970-01-01 00:00:00,...,0.0,NaN,100,1.8704,1149599869,0,20,0,0,2022-11-28 17:58:58
9,GBPUSD,4,1,40,2006-06-06 18:04:50,1.8593,0.0000,0.0000,2006-06-06 18:11:07,1970-01-01 00:00:00,...,0.0,NaN,100,1.8593,1149617090,0,40,0,0,2022-11-28 17:58:58